*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* Utilities */
.white {
    color: white;
}

.gray {
    color: gray;
}

/* COMMON */
/* Layout */

/* MAIN */
.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
}

/* Sidebar */
.library {
    width: 50px;
    height: calc(100vh - 70px);
    padding: 15px;
    background-color: #000000;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.library-list {
    padding-top: 5px;
    color: gray;
    line-height: 1.5rem;
    margin-bottom: 15px;
}

.spotify-logo {
    width: 20px;
}

.text-none {
    display: none;
}

.playlist-list {
    margin-top: 10px;
    color: gray;
    line-height: 1.5rem;
}
.playlist-title {
    font-size: 1rem;
}

.library-profile {
    display: inline-block;
}

.library-hr {
    width: 140px;
    border: 1px solid gray;
}

.profile {
    height: 1rem;
    vertical-align: middle;
    background: gray;
    border-radius: 50%;
    margin: 5px 0;
}


/* Main page */
.main-page {
    width: calc(100% - 50px);
    height: calc(100vh - 70px);
    overflow: auto;
    background-color: #141922;
}

.nav-list ul {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 20px;
    color: gray;
    font-size: 0.7rem;
    justify-content: center;
}

/* Upgrade button */
.header-button {
    text-align: end;
    padding: 20px;
    background-color: #080B12;
}

.upgrade-btn {
    display: inline-block;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 0.7rem;
}

/* Section album  */
.section {
    padding: 20px
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.col{
    text-align: center;
    width: calc(95%/2)
}

.img-album {
    width: 150px;
    margin-top: 10px;
}



/* FOOTER */
.footer {
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: #282828;
}



/****************/
/* MEDIA QUERY */
/****************/


@media screen and ( min-width:425px) {
    /* Sidebar */
.library {
    width: 170px;
    height: calc(100vh - 70px);
}

.text-none {
    display: inline;
}

/* Main page */
.main-page {
    width: calc(100% - 170px);
    height: calc(100vh - 70px);
}

.logo-none {
    display: none;
}

.library-hr {
    display: inline-block;
}

/* Section album  */
.col{
    width: calc(93%/2)
}
}


@media  screen and (min-width: 768px) {
    /* Section album  */
.col{
    width: calc(93%/4)
}
    
}

@media  screen and (min-width: 1025px) {
    /* Section album  */
.col{
    width: calc(93%/6)
}
    
}